!!!5
%html
	%head
		%title very nice language
		%link(rel= "stylesheet" type= "text/css" href= "style.css")
	%body.container
		%header
			%h1 Hello world
		%section
			%p lorem ipsum dolor sit amet
			%section#hello.feature(role="region")
			%input(type="checkbox" checked)
		.new 
			%span This is cool
			%a remember the time
			%p.btn i got the power yeahhhhhhhhh